/* Importing Montserrat from google fonts */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

/* variables */
:root {
  --primary-color: #2e3656;
  --secondary-color: #8593e7;
  --purple-color: #a484e2;
  --pink-color: #e79fca;
  --green-color: #92d7c8;
}

/* reseting defaults */
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  height: 100%;
  width: 100vw;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background: linear-gradient(45deg, #e9ddfb, #faf3fa, #e2f8f5);
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding: 2rem;
  overflow: hidden;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* LOGO */

.logo {
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: -5.5px;
  color: var(--primary-color);
}

/* CONTAINER */

.container {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
  height: 50vh;
  margin: 3rem 0rem;
  overflow: hidden;
}
/* LEFT PART (HERO) */
.hero {
  background: linear-gradient(
    45deg,
    var(--purple-color),
    var(--pink-color),
    var(--green-color)
  );
  padding: 2rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  transition: 0.3s ease-in-out;
}

.hero-title {
  font-size: 3.4375rem;
  font-weight: 700;
}

.hero-subtitle {
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 2.8rem;
  margin: 2rem 0rem;
}

.hero-image {
  width: 100%;
  align-self: center;
  display: flex;
  justify-content: center;
}

.hero-image img {
  max-width: 25rem;
}

/* RIGHT PART (CALL-TO-ACTION) */

.cta {
  background-color: #fff;
  color: var(--primary-color);
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  transition: 0.3s ease-in-out;
}

.cta-title {
  font-size: 1.75rem;
  font-weight: 600;
}

.cta-description {
  font-size: 1.5rem;
  font-weight: 300;
  text-align: justify;
  line-height: 40px;
  margin: 1.5rem 0rem;
}

.cta-btn {
  background-color: var(--secondary-color);
  color: #fff;
  align-self: center;
  font-weight: 600;
  font-size: 28px;
  padding: 1rem 5rem;
  border-radius: 50px;
  transition: 0.3s ease-in-out;
}

.cta-btn:hover {
  background-color: var(--primary-color);
}

.socials-list {
  width: 10rem;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.socials {
  margin-bottom: 2rem;
}

.socials-list-item {
  width: 36px;
  height: 36px;
  background-color: var(--primary-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in-out;
}
.socials-list-item:hover {
  background-color: var(--secondary-color);
}

.socials-list-item > li > img {
  width: 1rem;
}

.socials-list-item:last-child > li > img {
  width: 0.8rem;
}

.footer {
  color: var(--primary-color);
  text-align: center;
}

.footer a {
  font-weight: 600;
  color: var(--primary-color);
}

/* MEDIA QUERIES */

@media screen and (max-width: 1400px) {
  .hero-title {
    font-size: 3rem;
  }
  .hero-subtitle {
    font-size: 1.4rem;
  }
  .cta-title {
    font-size: 1.5rem;
  }
  .cta-description {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 1200px) {
  .hero-title {
    font-size: 2.5rem;
  }
  .hero-subtitle {
    margin: 1.5rem 0rem;
    line-height: 2rem;
  }
  .cta-description {
    line-height: 30px;
  }
}

@media screen and (max-width: 992px) {
  html {
    padding: 0;
  }
  .container {
    margin: 2rem;
    height: 65vh;
  }
  .hero,
  .cta {
    text-align: center;
  }
  .hero-image img {
    max-width: 10rem;
  }

  .cta-description {
    text-align: center;
    font-size: 1rem;
    margin: 0rem 0rem 1rem 0rem;
  }

  .cta-btn {
    font-size: 1rem;
    padding: 1rem 3rem;
  }
}

@media screen and (max-width: 768px) {
  .cta-title {
    font-size: 1.25rem;
  }
  .cta-description {
    font-size: 0.9rem;
    line-height: 25px;
  }
  .cta-btn {
    padding: 0.5rem 2rem;
  }
}
@media screen and (max-width: 576px) {
  .hero-subtitle {
    font-size: 1rem;
  }
  .hero-title {
    font-size: 2rem;
  }
  .cta {
    padding: 1.5rem;
  }
}
